/****************************************************************************/
/******************************* General ************************************/
:root{
    --theme-color: #403e72;
    --hover-color:rgb(63, 152, 211);
}

body{
    margin: 0px;
    /* overflow-x: hidden; */
}

a {
    /* color: #66cef6; */
    text-decoration: none;
    /* transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease; */
}


/******************************* Top Bar ************************************/
.container{
    margin: 0 30px;
    position: relative;
}

.top{
    background: #403e72;
    height: 50px;
}


.top-contact {
    margin: 0;
    float: left;
    padding-inline-start: 0px;
}

.top-contact li {
    float: left;
    list-style: none;
    color: #fff;
    font-size: 13px;
    padding-right: 10px;
    height: 35px;
    padding-top: 15px;
    
}

.top-contact li i {
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
}

.top-contact li i, .top-contact li span {
    float: left;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.top-contact li:hover i,.top-contact li:hover span{
    color:var(--hover-color);
}

.top-contact li a {
    color: #fff;
}

.top-contact li a i {
    color: #2a2955;
}

.top-social {
    float: right;
    padding: 15px 0;
    margin-right: 20px;
}

.top-social a {
    color: #fff;
    text-decoration: none;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.top-social a i{
    margin-right: 5px;
}

.top-social span {
    color: #fff;
    margin: 0 5px;
}

.top-social a:hover{
    color:var(--hover-color);
}

/******************************* Logo Bar ************************************/
.logo{
    float: left;
    margin-right: 20px;
    margin-left: 10%;
}

.logo-img{
    max-width: 100%;
    height: 150px;
}

.search-bar{
    float: right;
    padding-top: 4%;
    padding-right: 10px;
    position: relative;
    margin-right: 0px;
    margin-left: 20px;
}

.search-bar input{
    margin-right: 10px;
}

.search-bar input[type=text]{
    width:300px;
    height:40px;
    border-radius:25px;
}


.search-bar button{
    width:30px;
    height:30px;
}

.horizontal-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*******************************  Navigation/Dropdown bar. Resource from w3school ************************************/
.dropdown {
    position: relative;
    display: inline-block;
    padding-right: 20px;
}

.dropbtn {
    background-color: #403e72;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #403e72;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

.dropdownicon{
    color: white;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: var(--hover-color);}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn, .dropdown:hover i{color: var(--hover-color);}

.nav-bar-btn{
    position: relative;
    display: inline-block;
    padding-right: 20px;
    height: 100%;
}

.nav-bar a {
    color: #fff;
    text-decoration: none;
    padding-right: 15px;
    padding-top: 13px;
    padding-bottom: 16px;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.nav-bar a i{
    margin-right: 5px;
}

.nav-bar span {
    color: #fff;
    margin: 0 5px;
}

.nav-bar a:hover {
    color: var(--hover-color);
}

.nav-bar {
    float: left;
}

/*******************************  Footer ************************************/
.footer{
    background: var(--theme-color);
    padding-top: 40px;
    padding-bottom: 30px;
    color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}

.info-container{
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

.info-grid{
    margin-right: -15px;
    margin-left: -15px;
}

.grid{
    float: left;
}

.leftside{
    margin-left: 10%;
    width: 25%;
    padding-right: 20px;
}

.middle{
    text-align: center;
    /* width: 16.66667%; */
    width: 25%;
}

.grid p{
    /* text-align: center; */
    line-height: 20px;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.footer-title{
    color: rgb(63, 152, 211);
    font-weight: bold;
}

.footer-logo{
    width: 100px;
    height: 80px;
    display: block;
}

.footer-contact{
    margin: 0;
    padding: 0;
    margin-top: 15px;
    clear: both;
}

.footer-contact-item{
    float: left;
    list-style: none;
    margin-right: 25px;
}

.footer-contact-item i{
    color: white;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.footer-contact-item:hover i{
    color: rgb(63, 152, 211);
}

.footer-category{
    margin: 0;
    padding: 0;
}

.footer-category-title{
    color: rgb(63, 152, 211);
    font-weight: bold;
    padding-bottom: 3px;
}

.footer-category-item{
    list-style: none;
}

.footer-category-item:hover p{
    color: rgb(63, 152, 211);
}

.footer-category-item p{
    color: white;
}

/*******************************  Pagination. Source: w3school ************************************/
.center {
    text-align: center;
  }
  
  .pagination {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: var(--hover-color);
    color: white;
    border: 1px solid var(--hover-color);
  }
  
  .pagination a:hover:not(.active) {background-color: rgb(115, 212, 251);}

/************************************************************************************/
/******************************* Index.html  ****************************************/

/******************************* Image slider. Source: https://www.youtube.com/watch?v=0wvrlOyGlq0&ab_channel=CodingSnow  ************************************/
.slider-container{
    /* height: 100vh; */
    /* display: flex;
    justify-content: left; */
    margin: 0;
    padding: 0;
    /* max-width: 100%; */
}

.slider{
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    /* width: 800px; */
    width: 100%;
    height: 500px;
}

/*Manual navigation*/
.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid rgb(13, 16, 172);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #403e72;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

/*Auto navigation*/
.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid rgb(13, 16, 172);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1,
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3,
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: var(--theme-color);
}

/*******************************  Tab slider. Resource from ************************************/
.tab-container{
    /* max-width: 700px; */
    /* width: 100%; */
    /* margin: 20px auto; */
    padding: 25px 20px 30px 30px;
    overflow: hidden;
}

.tab-container h2{
    text-align: center;
}

.tab-container nav{
    position: relative;
    width: 100vh;
    height: 50px;
    display: flex;
    align-items: center;
    margin: auto;
}

.tab-container nav label{
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    z-index: 1;
    color: grey;
    font-size: 17px;
    margin: 0 5px;
    transition: all 0.3s ease;
}

.tab-container nav label:hover{
    transform: scale(1.1);
    color: #272727;
    font-weight: bold;
}

nav .tab-slider{
    position: absolute;
    height: 5px;
    width: 23%;         /*Set this according to tab numbers*/
    left: 0;
    bottom: 0;
    z-index: 0;
    border-radius: 5px;
    background: var(--theme-color);
    transition: all 0.3s ease;
}

.tab-container nav label i{
    padding-right: 7px;
}

input[type="radio"]{
    display: none;
}

/*  This is to set checked tab position.
    Set this according to tab numbers*/
#accessories:checked ~ nav .tab-slider{
    left: 25%;
}
#computers:checked ~ nav .tab-slider{
    left: 51%;
}
#others:checked ~ nav .tab-slider{
    left: 75%;
}

section .content{
    display: none;
    padding-top: 20px;
    padding-left: 70px;
    
}

section .content p{
    text-align: justify;
}

.product-tab{
    max-height: 400px;
    width: 300px;
    display: inline-block;
    padding-right: 40px;
    padding-bottom: 10px;
    transition: all 0.3s ease;
}

.product-tab-long{
    height: 400px;
    width: 300px;
    display: inline-block;
    padding-right: 40px;
    padding-bottom: 40px;
    transition: all 0.3s ease;
}

.product-tab-more{
    height: 300px;
    width: 300px;
    display: inline-block;
    padding-right: 40px;
    padding-bottom: 10px;
    transition: all 0.3s ease;
}

.product-tab:hover, .product-tab-long:hover, .product-tab-more:hover{
    transform: scale(1.1);
}

.product-img{
    height: 260px;
    width: 100%;
}

.more{
    height: 100%;
    margin-top: 10%;
}

.more-img{
    display: block;
    height: 150px;
    margin: auto;
}

.more-text{
    display: block;
    height: 50px;
    width: 80%;
    margin: auto;
}

.product-tab a, .product-tab-long a{
    text-align: center;
    display: block;
    color: black;
    transition: all 0.3s ease;
}

.product-tab a:hover,.product-tab-long a:hover{
    font-weight: bold;
    transform: scale(1.1);
}

.product-tab label,.product-tab-long label{
    padding-top: 5px;
    text-align: center;
    display: block;
    color: black;
    font-weight: bold;
    transition: all 0.3s ease;
}

#phones:checked ~ section .content1,
#accessories:checked ~ section .content2,
#computers:checked ~ section .content3,
#others:checked ~ section .content4{
    display: block;
    animation: hideIndex 0.5s;
	-moz-animation: hideIndex  0.5s; /* Firefox */
	-webkit-animation: hideIndex  0.5s; /* Safari and Chrome */
	-o-animation: hideIndex  0.5s; /* Opera */
}

@keyframes hideIndex{
	0%{ opacity: 0; transform: translate(800px, 0) }
	100%{opacity: 1; transform: translate(0, 0) }
}

#phones:checked ~ nav .tab-phones,
#accessories:checked ~ nav .tab-accessories,
#computers:checked ~ nav .tab-computers,
#others:checked ~ nav .tab-others{
    color: black;
    font-weight: bold;
}



/************************************************************************************/
/*******************************  Telefonos.html ************************************/

.img-banner{
    width: 100%;
    height: 300px;
}

.product-container{
    padding-top: 20px;
    padding-left: 70px;
    padding-bottom: 10px;
}